/*
Author: Joshua M. Hughes
Modified: 2/19/2017

Master Site Style Sheet
*/

/* Body Styles */
html,body{
	display:block;
	
}

body{
	background-color:#d6c2a5;
	margin: 5px auto;
	text-align: center;
	
}

/* Header Styles */

h1, h2 {
	color:#7ca0d6
	
}

/* Main Styles */
main {
	width: 1000px;
	min-height: 500px;
	margin: 5px auto;
}

/* Navigation Styles */
nav{
	width: 175px;
	min-height: 500px;
	float: left;
	text-align: center;
	background-color:#544830;
}

nav ul {
	margin: 0px auto;
	padding: 0px;
	list-style: none;
	
}

nav li {
	width: 97%;
	margin: 0px auto;
	background: silver;
	border-style: outset;
	border-width: 2px;
	border-color: silver;
	
}

nav li:hover{
	background: lightblue;
	
}

nav a {
	text-decoration: none;
	color: black;
}

/* Section Styles */
section{
	width: 825px; 
	min-height: 500px;
	margin: 0px auto;
	text-align: center;
	float: right;
	background-color: white;
	
}

/* Footer Styles */

footer address{
	clear: both;
	margin: auto;
	text-align: center;
	color:#7ca0d6;
	font-size: 10px;
	font-family: "Times New Roman", Georgia,Serif;
	font-style: italic;
	
}

/* Client Search Module */

#ClientSearch {
	margin: 5px auto auto 75px;
	text-align: left;	
	
}

#ClientSearchResults{
	margin: 5px auto auto 75px;
	text-align: center;	
	
}

table, tr, th, td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	
}

th {
	background-color: #7ca0d6;
	
}

tr.resultRow, td.resultRow{
	cursor: pointer;
	
}