/*
Joshua M. Hughes
COP2830
Professor Barrell
2/2/2017
*/

/* Body Styles */
body {
	background: linen;
	border: 5px solid maroon;
	width: 80%;
	margin: auto;
}

/* Heading Styles */
h1{
	background: black;
	color: white;
	text-align: center;
}

p {
	margin: 10px;
	padding: 20px;
	text-align: center;
}
.first {
	border: 2px dashed blue;
	color: blue;
}

.second {
	border: 2px dashed blue;
	color: red;
}

.third {
	border: 2px dashed blue;
	color: green;
	background: cyan;
	margin: 60px;
	padding: 110px;
}

.fourth {
	border: 2px dashed blue;
	color: orange;
}

