/*
Joshua M. Hughes
COP2830
Professor Barrell
2/2/2017
*/

/* Body Styles */
body {
	background: linen;
	border: 5px solid maroon;
	border-radius: 14px;
	width: 80%;
	margin: auto;
	font-family: Verdana, Serif;
}

/* Heading Styles */
h1{
	background: maroon;
	color: yellow;
	text-align: center;
	font-family: "Courier New", Sans-Serif;
	width: 98%;
	margin: 15px auto;
}

p {
	margin: 10px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	border-radius: 20px; 
}
.first {
	border: 2px dashed blue;
	font-family: "Chiller", serif;
	color: blue;
	font-weight: bold;
}

.second {
	border: 2px dashed blue;
	font-family: "Algerian", serif;
	color: red;
	font-weight: bolder;
}

.third {
	border: 8px outset turquoise;
	font-family: WingDings, Sans-Serif;
	color: pink;
	background: teal;
	margin: 60px;
	padding: 70px;
	font-weight: boldest;
}

.fourth {
	border: 2px dashed blue;
	color: orange;
}

/* Anchor Styles */
a {
	color: cornflowerblue;
	font-size: 2em;
	font-weight: bolder;
	text-decoration: none; /*Remove the default underline */
}

a:visited {
	color: tomato;
}

a:hover {
	color: salmon;
}

/* List Styles */
ol {
	border: 5px solid darksalmon;
	border-radius: 10px;
	width: 10em;
	margin: 0px auto;
}

ul {
	border: 5px inset darksalmon ;
	border-radius: 5px;
	width: 10em;
	margin: 0px auto;
}

li {
	color: brown;
}

ol li {
	color: brown;
}

.content li {
	color: brown;
}

li:first-child {
	background: yellow;
}

li:nth-child(2) {
	background: orange;
}
li:nth-child(3) {
	background: red;
}
