/*
Joshua M. Hughes
COP2830
Professor Barrell
2/2/2017
*/

/* Body Styles */
body {
	background: linen;
	border: 5px solid maroon;
	border-radius: 14px;
	width: 80%;
	margin: auto;
}

/* Heading Styles */
h1{
	background: maroon;
	color: yellow;
	text-align: center;
}

p {
	margin: 10px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	border-radius: 20px; 
}
.first {
	border: 2px dashed blue;
	color: blue;
	font-weight: bold;
}

.second {
	border: 2px dashed blue;
	color: red;
	font-weight: bolder;
}

.third {
	border: 2px dashed blue;
	color: pink;
	background: teal;
	margin: 60px;
	padding: 110px;
	font-weight: boldest;
}

.fourth {
	border: 2px dashed blue;
	color: orange;
}

/* Anchor Styles */
a {
	color: cornflowerblue;
	font-size: 2em;
	font-weight: bolder;
	text-decoration: none; /*Remove the default underline */
}

a:visited {
	color: tomato;
}

a:hover {
	color: salmon;
}