/*
Joshua M. Hughes
COP2830
Professor Barrell
2/2/2017
*/

/* Body Styles */
body {
	background: linen;
	width: 500px;
	margin: 200px auto;
}

div {
	border: 5px solid maroon;
	text-align: center;
	padding: 5px;
}

/* Paragraph Styles */
p {
	border: 2px dashed blue;
}