/*
Joshua M. Hughes
COP2830
Professor Barrell
2/2/2017
*/

/* Body Styles */
body {
	background: lightcyan;
	width: 800px;
	margin: auto;
}

/* Heading Styles */
h1{
	color: maroon;
	text-align: center;
}

p {
	color: gray;
	border: 1px solid gray;
	padding: 10px;
}