body,html {
	margin:0px;
	padding: 0px;
	background: #003973;
}

#content{
	background: #ffcb97;
	width: 900px;
	margin: 25px auto;
	padding:46px;
	padding-top:44px;
}
#content h1{
	margin:0px;
	padding:0px;
	color: #37404C;
}
#content p, ul{
	color:#6B6B6B;
	font-size:13px;
}

/* PHP info styling */
pre {margin: 0px; font-family: monospace;}
a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
a:hover {text-decoration: underline;}
table {border-collapse: collapse;}
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left;}
.center th { text-align: center !important; }
td, th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
th{ background-color: #000080;}
td{ background-color: #e1e1e1;}
h1 {font-size: 150%; color:white;}
h2 {font-size: 125%;}
.p {text-align: left; display:none}
.e { font-weight: bold; color: #000000;}
.h {font-weight: bold; color: white;}
.v {word-break:break-all; color: #000000;}
.vr {background-color: #cccccc; text-align: right; color: #000000;}
.h img{	display:none;}
.h { background-color: #2D649C; color:white; }
hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;